html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
}

svg {
  background: black;
}

#moreInfo {
  padding-top: 1em;
  background-color: black;
  color: white;
  float: right;
  width: 25%;
  height: 100%;
  font-family: 'Space Mono', monospace;
  /*text-shadow: 2px 2px 3px red;*/
  text-shadow: 0 0 3px deepPink, 0 0 4px deepPink, 0 0 5px deepPink;
}

#moreInfo h2,
#moreInfo h3,
#moreInfo h4,
#moreInfo h5,
#moreInfo h6 {
  padding-left: 20px;
}

/* axis */ 
.x line,
.y line,
.x path,
.y path {
  stroke: deepPink;
}

.x text,
.y text {
  fill: deepPink;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
}